<a href="https://colab.research.google.com/github/Rapelacpu/java-course/blob/master/rap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=2
y=x*x
print(y)

4

In [ ]:
a=2
b=4
c=2
y=a+b+c
print(y)

8

In [ ]:
a= "Rapela"
print (a)

Rapela

In [ ]:
print("Rapela")

Rapela

In [ ]:
divide= 40/2
print (divide)

20.0

In [ ]:
r= True
s= False
print (type(r))

<class 'bool'>

In [ ]:
print (type(s))

<class 'bool'>

In [ ]:
First= "Hello"
Second =" World"
Join= First + Second
print (Join)

Hello World

In [ ]:
x=9
y=3

z=x/3
print("value of z:", z)

value of z: 3.0

In [ ]:
x = 5
y = 2

if y <  6:
  z = x/y
  print ("make sense", z)
  print(x)
  print(y)
  print("ok")

make sense 2.5
5
2
ok

In [ ]:
if 10 % 100 == 0:

   print("yes")

else:

   print("No")

No

In [ ]:
if 9 > 2:
   print("1")
   if 9 > 3:
    print("2")
    if 9 > 8:
      print("3")

1
2
3

In [ ]:
y = 7
x = -1

if x > y:
  print("Greater")
elif x < y:
    print("Smaller")
elif x == y:
      print("Smaller")
elif x < 0:
        print("Negative")

Smaller

In [9]:
my_list = [ 1, 2, 3, 'Rapela', 'Silas', 'Omondi']
for item in my_list:
  print(item)

1
2
3
Rapela
Silas
Omondi

In [10]:
for item in my_list:
  if item == 'Rapela':
    break
    print(item)

In [14]:
List_example = [1, 2, 3]
List_example [2] = "Rapela"
print(List_example)

[1, 2, 'Rapela']

In [16]:
x = 2
y = 4.2
z = "Rapela"
f = False

my_list = [x, y, z, f]
print(my_list)

[2, 4.2, 'Rapela', False]

In [17]:
print(type(my_list))

<class 'list'>

In [19]:
tuple_one = (2, 1, 2  ,  3, 2,)
return_func = tuple_one.count(2)
print(return_func)

3

In [37]:
items_dict = { 'iPhone' : 2 , "iPad" :3, "shoes" , "wallets" }
print(items_dict)
print(type(items_dict))

SyntaxError: ':' expected after dictionary key (<ipython-input-37-104d8af72d68>, line 1)

In [39]:
my_set = {1 , 5.2 , "Rapela"}
print(my_set)

{1, 5.2, 'Rapela'}

In [48]:
my_set = {1 , 1 , 2 , 3 , 1}
print(my_set)

{1, 2, 3}

In [49]:
my_set.add(6)

In [50]:
print(my_set)

{1, 2, 3, 6}

In [51]:
def multiply(first_num , second_num=3):
result = first_num * second_num
return results

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-51-a7117f2ec6d9>, line 2)

In [57]:
res = (6,3)
res=(6*3)
print(res)

18

In [64]:
class phones:
  def __init__ (self , year):
  self.year = year
  print("Hello")

IndentationError: expected an indented block after function definition on line 2 (<ipython-input-64-a1cd6e8bf7d9>, line 3)

In [61]:
phones_2022 = phones(2022)
phones_2022 = phones(2022)

NameError: name 'phones' is not defined